mixin form(data={})
  form#form-collection(method='POST', action=(`/admin/collection/${data.id ? 'edit/'+data.id : 'add'}`), role='form')
    if (data.id)
      input(type='hidden' name='id', value=data.id)
    .col-lg-12.col-md-12
      .form-group(class=errors && errors.desc && 'has-error')
        label.control-label Tên bộ sưu tập:
        .input-data-block
          input.form-control(name='name' type='text' value=(data.name ? data.name : '') placeholder='Điền tên bộ sưu tập')


    .col-lg-12.col-md-12
      .form-group(class=errors && errors.desc && 'has-error')
        label.control-label slug:
        .input-data-block
          input.form-control.checkSlug(name='slug' type='text' value=(data.slug ? data.slug : '') placeholder='slug')

    .col-lg-12.col-md-12
      .form-group
        label.control-label status:
        select.select2.form-control(name='status' autocomplete="off")
            option(value='on' data-image='' selected=data.status===''?true:false) Hoạt động
            option(value='off' data-image='' selected=data.status===''?true:false)  Tắt


    .col-lg-12.col-md-12
      .form-group
        button.btn.btn-success
          i.fa.fa-check
          |  Submit
    include ../../layouts/modal-upload
  include _validation
  include _jsformload