html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='content-language' content='vi')
    link(rel='alternate' href='https://tintieudung.net/' hreflang='vi-vn')
    title Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có
    meta(name='title' content='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
    meta(name='description' content='Diện tích trồng dâu tây tăng cộng với ảnh hưởng của dịch bệnh COVID-19 và thời tiết không thuận lợi là nguyên nhân khiến giá dâu tây Mộc Châu giảm mạnh.  ')
    meta(name='keywords')
    meta(name='author' content='thitruonghomnay.vn')
    meta(name='generator' content='')
    meta(property='fb:app_id' content='')
    meta(property='og:url' content='https://thitruonghomnay.vn/tieu-dung/su-that-nga-ngua-ve-dau-tay-moc-chau-ban-re-chua-tung-co')
    meta(property='og:type' content='website')
    meta(property='og:site_name' content='thitruonghomnay.vn')
    meta(property='og:title' content='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
    meta(property='og:description' content='Diện tích trồng dâu tây tăng cộng với ảnh hưởng của dịch bệnh COVID-19 và thời tiết không thuận lợi là nguyên nhân khiến giá dâu tây Mộc Châu giảm mạnh.  ')
    meta(property='og:image' content='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615457123.jpeg')
    meta(property='og:image:alt' content='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
    meta(name='robots' content='INDEX,FOLLOW')
    meta(name='GOOGLEBOT' content='INDEX,FOLLOW')
    meta(name='google-site-verification' content='')
    link(rel='alternate' href='https://thitruonghomnay.vn/Rss.rss' type='application/rss+xml' title='RSS')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='https://thitruonghomnay.vn/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='/client/themes/tintieudung/css/bootstrap.min.css')
    link(href='/client/themes/tintieudung/css/css.css' rel='stylesheet')
    link(rel='stylesheet' href='/client/themes/tintieudung/css/owl.carousel.css')
    link(rel='stylesheet' href='/client/themes/tintieudung/css/font-awesome.css')
    link(rel='stylesheet' href='/client/themes/tintieudung/css/simplebar.min.css')
    link(rel='stylesheet' href='/client/themes/tintieudung/css/owl.theme.default.min.css')
    link(rel='stylesheet' href='/client/themes/tintieudung/css/main.css')
    link(rel='stylesheet' href='/client/themes/tintieudung/css/mystyle.css')
    script#facebook-jssdk(src='//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/sdk.js' async='' crossorigin='anonymous')
    script(type='text/javascript' async='' src='https://thitruonghomnay.vn/themes/tintieudung/js/analytics.js')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/jquery-2.1.3.js')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/bootbox.min.js')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/owl.carousel.min.js')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    script(async='async' src='https://thitruonghomnay.vn/themes/tintieudung/js/gpt.js')
    title Thị trường hôm nay
  body(cz-shortcut-listen='true')
    .top-header
      .container.rps-wi
        #cover-menu.relative.d-ib
          a.icon-menu.mega-menu Mega Menu
        a.logo-mobile(href='#')
        span.rps-hd
          a.contact.m-l-12.m-r-15(href='#')
            i.fa.fa-phone(aria-hidden='true')
            |  Hotline: 0975 119 599
        ul.right
          li.rps-hd
            span.update-time.f-12 Thứ 3, 16 tháng 3, 2021
          li.search-box
            input(type='search' name='search' placeholder='Tìm kiếm...')
            span.open-search
            a.d-ib.btn-search(href='#')
              i.fa.fa-search(aria-hidden='true')
      .box-top-search
        .container
          .search-wrap
            input#keysearch.txt-search(type='text' placeholder='Nhập từ khóa...' name='search' autocomplete='off')
            a(href='#' title='Tìm kiếm')
              span Tìm kiếm
          ul#top-menu-box
            li
              a.label(title='Công nghệ' href='#') Công nghệ
            li
              a.label(title='Kinh tế' href='#') Kinh tế
            li
              a.label(title='Xe' href='#') Xe
            li
              a.label(title='Khỏe - Đẹp' href='#') Khỏe - Đẹp
            li
              a.label(title='Giáo dục' href='#') Giáo dục
            li
              a.label(title='Đời sống' href='#') Đời sống
            li
              a.label(title='Tiêu dùng ' href='#') Tiêu dùng 
          div
    .clear
    .container.banner.rps-hd
      .d-ib.logo-top.left(title='Báo Thitruong Online')
        a.logo(href='#' style='width: 320px; height: 90px; background-size: cover;')
      .banner-inner(style='width: 728px; height: 90px; float: right; padding: 0')
        a(href='#' target='_blank')
          img(src='https://thitruonghomnay.vn/themes/tintieudung/images/qc.png' border='0' alt='' height='90' width='728')
    .clear
    nav.main-menu.clear.rps-hd
      #menu.container
        ul.menu.clearfix
          li.item.mn-home
            a.icon-home(href='#' title='Trang chủ')
              i.fa.fa-home(aria-hidden='true' style='font-size: 30px;')
          li
            a.label(title='Công nghệ' href='#' targe='_self') Công nghệ
            ul.submenu
              li
                a.label(title='Tin tức' href='#' targe='_self') Tin tức
              li
                a.label(title='Điện thoại - Máy tính ' href='#' targe='_self')
                  | Điện
                  | thoại - Máy tính
              li
                a.label(title='Ứng dụng' href='#' targe='_self') Ứng dụng
              li
                a.label(title='Mách bạn' href='#' targe='_self') Mách bạn
          li
            a.label(title='Kinh tế' href='#' targe='_self') Kinh tế
            ul.submenu
              li
                a.label(title='Tài chính' href='#' targe='_self') Tài chính
              li
                a.label(title='Bất động sản ' href='#' targe='_self') Bất động sản 
              li
                a.label(title='Doanh nghiệp ' href='#' targe='_self') Doanh nghiệp 
              li
                a.label(title='Tin tức' href='#' targe='_self') Tin tức
          li
            a.label(title='Xe' href='#' targe='_self') Xe
            ul.submenu
              li
                a.label(title='Xe máy' href='#' targe='_self') Xe máy
              li
                a.label(title='Ô tô' href='#' targe='_self') Ô tô
              li
                a.label(title='Tin tức' href='#' targe='_self') Tin tức
          li
            a.label(title='Khỏe - Đẹp' href='#' targe='_self') Khỏe - Đẹp
            ul.submenu
              li
                a.label(title='Sức khỏe ' href='#' targe='_self') Sức khỏe 
              li
                a.label(title='Làm đẹp' href='#' targe='_self') Làm đẹp
          li
            a.label(title='Giáo dục' href='#' targe='_self') Giáo dục
            ul.submenu
              li
                a.label(title='Tin tức' href='#' targe='_self') Tin tức
              li
                a.label(title='Học tiếng Anh' href='#' targe='_self') Học tiếng Anh
              li
                a.label(title='Tuyển sinh' href='#' targe='_self') Tuyển sinh
              li
                a.label(title='Du học' href='#' targe='_self') Du học
          li
            a.label(title='Đời sống' href='#' targe='_self') Đời sống
            ul.submenu
              li
                a.label(title='Thời trang' href='#' targe='_self') Thời trang
              li
                a.label(title='Giải trí' href='#' targe='_self') Giải trí
              li
                a.label(title='Ăn chơi' href='#' targe='_self') Ăn chơi
              li
                a.label(title='Gia đình' href='#' targe='_self') Gia đình
              li
                a.label(title='Công sở' href='#' targe='_self') Công sở
              li
                a.label(title='Nhà cửa' href='#' targe='_self') Nhà cửa
              li
                a.label(title='Tin tức' href='#' targe='_self') Tin tức
          li
            a.label(title='Tiêu dùng ' href='#' targe='_self') Tiêu dùng 
            ul.submenu
              li
                a.label(title='Xu hướng' href='#' targe='_self') Xu hướng
              li
                a.label(title='Mua sắm' href='#' targe='_self') Mua sắm
              li
                a.label(title='Nổi bật' href='#' targe='_self') Nổi bật
              li
                a.label(title='Khuyến mại' href='#' targe='_self') Khuyến mại
    script.
      var catUrl = '';
    section.container.mobile
      ul.menu_bread
        li.start
          h4
            a(href='#') Trang chủ
        li
          a(title='Tiêu dùng ' href='#') !{nameCategory}            

      .clear
      .w-840.left.m-t-20
        article.articleDetail
          // ***********************************************************************************
          h1 !{title}
          .d-info
            a(href='#')
              i.fa.fa-user-o(aria-hidden='true')
            div
              h4
                // ***********************************************************************************
                a(href='#' title='NB ') !{author}
          // ***********************************************************************************
          span !{publishedAt}
          .d-box-social
          section.articleContent
            //- .d-col1
            //-   div(style='height:198px;display:block')
            //-     #box-social-fix(style='position: static; top: auto; width: 50px; margin-top: 0px;')
            //-       ul
            //-         li.twitter
            //-           a(href='/' title='Tạp chí điện tử Tin Tiêu Dùng')
            //-             span
            //-               i.fa.fa-home(aria-hidden='true')
            //-         li.soc-sep
            //-           div
            //-         li.twitter
            //-           a(href='https://www.facebook.com/sharer.php?u=https://thitruonghomnay.vn/tieu-dung/su-that-nga-ngua-ve-dau-tay-moc-chau-ban-re-chua-tung-co' target='_blank' title='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
            //-             span
            //-               i.fa.fa-facebook(aria-hidden='true')
            .d-col2(style="width:100%")
              // ***********************************************************************************
              p.sapo !{sapo}
              // cài đặt bài viết liên quan
              ul.relation
                -if(nameStoryRelative)
                  each rela in nameStoryRelative
                    li
                      a(title='Điện thoại 5G bán chạy không ngờ tại Việt Nam ' href='#') !{rela}
                

                
              ul.relation
              p(style='text-align: center; display: none')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615457123.jpeg' title='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có' alt='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có' border='0' width='680' style='width: 100%;')
                span.image-caption(style='text-align: center; font-style: italic; display: block;')
              #divfirst(style="font-family:'Times New Roman'")
                // ***********************************************************************************
                p !{description} 
                
              .clear
              p(style='float: right; text-align: right')
                span(style='font-style: italic') Theo  
                // ***********************************************************************************
                a.origin_author(href='#' style='color: black; font-weight: bold;') !{nguon}
                  
              br
              p#link_outsite(style='font-size: 13px; display: none; float: right; text-align: right;')
                -if(linknguon)
                  a(href='#' target='_blank' style='color: rgb(0, 149, 255); font-weight: bold;')  !{linknguon}
                -else
                  a(href='#' target='_blank' style='color: rgb(0, 149, 255); font-weight: bold;')
                
        .clear
        | Tags:
        -if(nameTag ) 
          each tag in nameTag 
            a.tag-style(href='#' title='ảnh hưởng đại dịch' style='display: inline-block; margin: 7px; padding: 5px; border-radius: 3px;') !{tag}
            | /
       
        .clear
        #block_relative.d-view2
          .title
            a(title='Tin cùng chuyên mục' href='#') Tin cùng chuyên mục
          ul.view1
            li.item
              a(href='#' title='Bó hoa "tiền thật" ngày 8/3')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615266083.jpeg' title='Bó hoa "tiền thật" ngày 8/3' alt='Bó hoa "tiền thật" ngày 8/3' border='0' width='285' height='173')
              h3
                a(href='#' title='Bó hoa "tiền thật" ngày 8/3') Bó hoa "tiền thật" ngày 8/3
              p
                | Cùng với hoa tươi truyền thống như mọi năm, nhiều cửa hàng hoa còn đưa ra các mẫu hoa bó, lẵng... được
                | làm từ nhiều chất liệu khác nhau: lụa, sáp... và cả bằng tiền thật.
            li.item
              a(href='#' title='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615453597.jpeg' title='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ' alt='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ' border='0' width='285' height='173')
              h3
                a(href='#' title='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ')
                  | Bị Trung Quốc cấm vận, dứa Đài Loan
                  | đắt khách tại châu Á
              p
                | Người tiêu dùng nhiều nước châu Á ồ ạt mua dứa Đài Loan sau khi loại trái cây này bị Trung Quốc đưa vào
                | danh sách cấm nhập khẩu.
            li.item
              a(href='#' title='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615444816.jpeg' title='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ' alt='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ' border='0' width='285' height='173')
              h3
                a(href='#' title='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ')
                  | Giá xăng có thể tăng mạnh vào ngày mai (12/3)
              p
                | Liên Bộ Tài chính - Công Thương sẽ điều chỉnh giá xăng dầu theo chu kỳ vào ngày 12/3. Dự báo tại kỳ điều
                | hành này, giá xăng dầu có thể tăng mạnh.
            li.item
              a(href='#' title='Forbes: Xe đạp điện sản xuất tại Việt Nam với tham vọng... thay thế ô tô')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615285456.jpeg' title='Forbes: Xe đạp điện sản xuất tại Việt Nam với tham vọng... thay thế ô tô' alt='Forbes: Xe đạp điện sản xuất tại Việt Nam với tham vọng... thay thế ô tô' border='0' width='285' height='173')
              h3
                a(href='#' title='Forbes: Xe đạp điện sản xuất tại Việt Nam với tham vọng... thay thế ô tô')
                  | Forbes: Xe đạp điện sản
                  | xuất tại Việt Nam với tham vọng... thay thế ô tô
              p
                | Modmo đã chọn TP.HCM là nơi đặt trụ sở và nhà máy sản xuất xe đạp điện của mình. 2 mẫu xe đầu tiên của
                | hãng được đặt tên là Saigon+ và Saigon S.
            li.item
              a(href='#'  title='Thịt heo Nga chiếm hơn 50% nguồn nhập ')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615362242.jpeg' title='Thịt heo Nga chiếm hơn 50% nguồn nhập ' alt='Thịt heo Nga chiếm hơn 50% nguồn nhập ' border='0' width='285' height='173')
              h3
                a(href='#'  title='Thịt heo Nga chiếm hơn 50% nguồn nhập ') Thịt heo Nga chiếm hơn 50% nguồn nhập 
              p
                | Giữa lúc nguồn thịt heo trong nước vẫn chưa đáp ứng nhu cầu tiêu dùng nội địa, thịt heo nhập khẩu tiếp
                | tục tăng đột biến sau khi đã tăng mạnh trong năm 2020.
            li.item
              a(href='#' title='“Tảo nở hoa” có thể là nguyên nhân khiến hàng trăm tấn ngao chết ở Thanh Hóa ')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615362949.jpeg' title='“Tảo nở hoa” có thể là nguyên nhân khiến hàng trăm tấn ngao chết ở Thanh Hóa ' alt='“Tảo nở hoa” có thể là nguyên nhân khiến hàng trăm tấn ngao chết ở Thanh Hóa ' border='0' width='285' height='173')
              h3
                a(href='#' title='“Tảo nở hoa” có thể là nguyên nhân khiến hàng trăm tấn ngao chết ở Thanh Hóa ')
                  | “Tảo nở hoa” có
                  | thể là nguyên nhân khiến hàng trăm tấn ngao chết ở Thanh Hóa
              p
                | Cơ quan chức năng đã xác định nguyên nhân ban đầu dẫn đến việc hàng trăm tấn ngao chết ở Thanh Hóa có thể
                | do nhiễm độc tố của hiện tượng “tảo nở hoa” và mật độ nuôi ngao cao.
            li.item
              a(href='#' title='Vựa rau Mê Linh của Hà Nội giờ ra sao sau vụ giải cứu nông sản? ')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615367842.jpeg' title='Vựa rau Mê Linh của Hà Nội giờ ra sao sau vụ giải cứu nông sản? ' alt='Vựa rau Mê Linh của Hà Nội giờ ra sao sau vụ giải cứu nông sản? ' border='0' width='285' height='173')
              h3
                a(href='#' title='Vựa rau Mê Linh của Hà Nội giờ ra sao sau vụ giải cứu nông sản? ')
                  | Vựa rau Mê Linh của Hà Nội giờ
                  | ra sao sau vụ giải cứu nông sản?
              p
                | Trên cánh đồng rau thuộc Mê Linh (Hà Nội), những người nông dân thôn Đông Cao (xã Tráng Việt) đã gác lại
                | nỗi buồn thất thu và chuẩn bị cho một vụ mùa mới.
            li.item
              a(href='#' title='Tiểu thương chợ Bến Thành gồng mình giữ khách')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615196543.jpeg' title='Tiểu thương chợ Bến Thành gồng mình giữ khách' alt='Tiểu thương chợ Bến Thành gồng mình giữ khách' border='0' width='285' height='173')
              h3
                a(href='#' title='Tiểu thương chợ Bến Thành gồng mình giữ khách') Tiểu thương chợ Bến Thành gồng mình giữ khách
              p
                | Nhiều tiểu thương tại chợ Bến Thành (quận 1) phải sang sạp vì không đủ tiền trả tiền mặt bằng và đóng
                | thuế, nhưng một số vẫn duy trì để giữ mối với khách hàng quen.
      .w-300.right.m-t-20
        .view4.m-b-20.view15
          .title.p-b-10
            a(alt='Tiêu Điểm' title='Tiêu Điểm' href='#') Tiêu Điểm
          ul
            li
              h3
                a(href='#' title='Ngã ngửa những kiểu lừa khách có 1-0-2 ở Việt Nam')
                  | Ngã ngửa những kiểu lừa khách có 1-0-2 ở Việt
                  | Nam
            li
              h3
                a(href='#'  title='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
                  | Sự thật “ngã ngửa” về dâu tây Mộc
                  | Châu bán rẻ chưa từng có
            li
              h3
                a(href='#'  title='“Tảo nở hoa” có thể là nguyên nhân khiến hàng trăm tấn ngao chết ở Thanh Hóa ')
                  | “Tảo nở hoa” có
                  | thể là nguyên nhân khiến hàng trăm tấn ngao chết ở Thanh Hóa
        .view4.m-b-20.view15
          .title.p-b-10
            a(alt='Xem nhiều' title='Xem nhiều' href='#') Xem nhiều
          ul
            li.siderbarli
              a.left(href='#' title='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
              h3
                a.left(href='#' title='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
                a(href='#' title='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có')
                  | Sự thật “ngã ngửa” về dâu tây Mộc
                  | Châu bán rẻ chưa từng có
              img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615457123.jpeg' title='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có' alt='Sự thật “ngã ngửa” về dâu tây Mộc Châu bán rẻ chưa từng có' border='0' width='285' height='173')
            li.siderbarli
              a.left(href='#' title='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615453597.jpeg' title='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ' alt='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ' border='0' width='285' height='173')
              h3
                a(href='#' title='Bị Trung Quốc cấm vận, dứa Đài Loan đắt khách tại châu Á ')
                  | Bị Trung Quốc cấm vận, dứa Đài Loan
                  | đắt khách tại châu Á
            li.siderbarli
              a.left(href='#' title='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615444816.jpeg' title='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ' alt='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ' border='0' width='285' height='173')
              h3
                a(href='#' title='Giá xăng có thể tăng mạnh vào ngày mai (12/3) ')
                  | Giá xăng có thể tăng mạnh vào ngày mai (12/3)
            li.siderbarli
              a.left(href='#' title='Bó hoa "tiền thật" ngày 8/3')
                img.img-responsive(src='https://thitruonghomnay.vn/uploads/03-2021/cropfile-1615266083.jpeg' title='Bó hoa "tiền thật" ngày 8/3' alt='Bó hoa "tiền thật" ngày 8/3' border='0' width='285' height='173')
              h3
                a(href='#' title='Bó hoa "tiền thật" ngày 8/3') Bó hoa "tiền thật" ngày 8/3
      .clear
      // có thể đặt thêm quảng cáo
      .clear
    .footer-menu.container.clear
      a.label(title='Công nghệ' href='#') Công nghệ
      a.label(title='Kinh tế' href='#') Kinh tế
      a.label(title='Xe' href='#') Xe
      a.label(title='Khỏe - Đẹp' href='#') Khỏe - Đẹp
      a.label(title='Giáo dục' href='#') Giáo dục
      a.label(title='Đời sống' href='#') Đời sống
      a.label(title='Tiêu dùng ' href='#') Tiêu dùng 
    footer.container(style='margin-bottom: 30px;')
      .testfooter
        .footer-left
          p
            strong Trang TTĐTTH của công ty TNHH TT Goodcom Việt Nam
          p Đang chờ cấp phép
          p
            strong Địa chỉ:
            span
              | Tầng 2 - Số 12 Ngõ 1 Phố Dịch Vọng Hậu - Phường Dịch Vọng Hậu - Quận Cầu Giấy - Hà Nội
        .footer-right
          p
            strong Hotline:
            span   0975119599
          p
            strong Email:
            span   thitruonghomnay.vn@gmail.com
    .modal-backdrop.fade.in(style='display:none')
    #boxProfile.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
    a#back-to-top.hide(href='#') Top
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/main.js')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/jquery.lockfixed.min.js')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/simplebar.js')
    script(src='https://thitruonghomnay.vn/themes/tintieudung/js/custom.js')
    #fb-root.fb_reset
      div(style='position: absolute; top: -10000px; width: 0px; height: 0px;')
        div
script.
  $(function() {    
    $('.articleContent p a').css({'color': '#0095ff', 'font-weight': 'bold'})
    $('.articleContent p a.origin_author').css({'color': 'black', 'font-weight': 'bold'})
    $('.articleContent p').css({'font-family:':'Times New Roman'})
    $('.articleContent img').css({'width': '100%'})
    $(".origin_author.sub").css({'font-weight': 'normal'})
    $(".origin_author").click(function(){      
      $("#link_outsite").toggle();
    });
  });